[submodule "resource/license-templates"]
	path = resource/license-templates
	url = https://github.com/licenses/license-templates.git
[submodule "resource/gitignore-templates"]
	path = resource/gitignore-templates
	url = https://github.com/github/gitignore.git
